<!DOCTYPE html>
<html>
<head>
    <title>BAYMS</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Welcome to BAYMS! We are a non-profit organization, 501(c)(3) Public Charity EIN #74-3247617, dedicated to developing and sponsoring children's musical talents through active involvement in community services."/>
    <link href="/img/favicon.png" rel="icon"/>
    <link href="/css/kube.css" rel="stylesheet"/>
    <link href="/css/base.css" rel="stylesheet"/>
    <link href="/css/core.css" rel="stylesheet"/>
    <link href="/css/app.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway|Taviraj" rel="stylesheet">
</head>
<body v-cloak>
    <header>
        <h4><a href="/">BAYMS</a></h4>
        <a @click="state.menu=true" class="menu-item float-right">menu</a>
    </header>
    <main v-if="ready">
        <div class="content">
            <div class="tab-bar">
                <div class="tab-item" @click="state.tab='home'" :class="{active:state.tab=='home'}">
                    Home
                </div>
                <div class="tab-item" @click="state.tab='profile'" :class="{active:state.tab=='profile'}">
                    <span v-if="hasRole('applicant')">Application</span>
                    <span v-if="!hasRole('applicant')">Profile</span>
                </div>
                <div class="tab-item" @click="state.tab='events'" :class="{active:state.tab=='events'}">
                    Events
                </div>
                <div class="tab-item" @click="state.tab='members'" :class="{active:state.tab=='members'}">
                    Members
                </div>
            </div>
            <div class="tab-view" v-if="state.tab=='home'">
                <div>
                    <h3>Hello<span v-if="model.user.name"> {{model.user.name}}</span>!</h3>
                    <div class="row">
                        <div class="col" style="padding-right:20px;">
                            <h4 class="subtitle muted">Calendar</h4>
                            <ul v-for="event in model.events">
                                <li v-if="event.visible.members">
                                    {{event.time}}<br/>
                                    <i>{{event.location}}</i><br/>
                                    <span class="muted">
                                        {{event.notes}}
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-8">
                            <div v-if="!hasRole('applicant')">
                                <h4 class="subtitle muted">Timesheet</h4>
                                <p>
                                    <span v-if="model.user.birthday">
                                        According to our records, you are currently eligible for 
                                        {{awardDescription(totalHours(model.user.timesheet.history), computeAge(model.user.birthday))}}. 
                                        Our records indicate that you are {{computeAge(model.user.birthday)}} years old.
                                    </span>

                                    <span v-if="model.user.timesheet.history">
                                        So far, you have earned {{totalHours(model.user.timesheet.history)}} hours of community service.
                                    </span>

                                    <span v-if="pendingHours(model.user.timesheet.history)">
                                        Of these hours, you have {{pendingHours(model.user.timesheet.history)}} hours that are still 
                                        pending approval.
                                    </span>
                                </p>
                                <vue-chart style="font-size: 0.8em;" :columns="timesheetColumns" :rows="timesheetRows" :options="timesheetOptions" chart-type="AreaChart"></vue-chart>
                                <br/>
                            </div>
                            <h4 class="subtitle muted">Notifications</h4>
                            <div class="form-item checkboxes" v-if="!hasRole('applicant')">
                                <label><input v-model="model.user.notification.timesheet" type="checkbox"> Notify me when volunteer hours are granted.</label>
                            </div>
                            <div class="form-item checkboxes">
                                <label><input v-model="model.user.notification.approval" type="checkbox"> Notify me when my pieces are approved.</label>
                            </div>
                            <div class="form-item checkboxes" v-if="hasRole('admin')">
                                <label><input v-model="model.user.notification.application" type="checkbox"> Notify me when people apply.</label>
                            </div>                        
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-view" v-if="state.tab=='profile'">
                <h3>Basics</h3>
                <div class="row form">
                    <div class="col">
                        <div class="form-item">
                            <label>Name</label>
                            <input v-model="model.user.name" type="text" debounce="500">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Email</label>
                            <input v-model="model.user.email" type="text" debounce="500">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Phone</label>
                            <input v-model="model.user.phone" type="text" debounce="500">
                        </div>
                    </div>
                </div>
                <div class="row form">
                    <div class="col">
                        <div class="form-item">
                            <label>School</label>
                            <input v-model="model.user.school" type="text" debounce="500">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Address</label>
                            <input v-model="model.user.address" type="text" debounce="500">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Birthday</label>
                            <input v-model="model.user.birthday" type="text" debounce="500">
                        </div>
                    </div>
                </div>
                <h3>Parents</h3>
                <div class="row form">
                    <div class="col">
                        <div class="form-item">
                            <label>Name</label>
                            <input v-model="model.user.parent1.name" type="text" debounce="500">
                        </div>
                        <div class="form-item">
                            <label>Email</label>
                            <input v-model="model.user.parent1.email" type="text" debounce="500">
                        </div>
                        <div class="form-item">
                            <label>Phone</label>
                            <input v-model="model.user.parent1.phone" type="text" debounce="500">
                        </div>
                        <div class="form-item" v-if="model.user.is_parent">
                            <button @click="parentPassword(1)" class="col-12">Set Parent 1 Password</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Name</label>
                            <input v-model="model.user.parent2.name" type="text" debounce="500">
                        </div>
                        <div class="form-item">
                            <label>Email</label>
                            <input v-model="model.user.parent2.email" type="text" debounce="500">
                        </div>
                        <div class="form-item">
                            <label>Phone</label>
                            <input v-model="model.user.parent2.phone" type="text" debounce="500">
                        </div>
                        <div class="form-item" v-if="model.user.is_parent">
                            <button @click="parentPassword(2)" class="col-12">Set Parent 2 Password</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item checkboxes">
                            <label>Waiver</label>
                            <label><input v-model="model.user.waiver.a" type="checkbox"> I give BAYMS permission to publish my name and the year I joined BAYMS.</label>
                            <label><input v-model="model.user.waiver.b" type="checkbox"> I give BAYMS permission to publish my graduation year and interests.</label>
                            <label><input v-model="model.user.waiver.c" type="checkbox"> I give BAYMS permission to publish my photo, biography, and experience.</label>
                        </div>
                    </div>
                </div>
                <h3>Interests</h3>
                <div class="row form">
                    <div class="col">
                        <div class="form-item">
                            <label>Experience</label>
                            <textarea v-model="model.user.experience" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Biography</label>
                            <textarea v-model="model.user.biography" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item">
                            <label>Instruments</label>
                            <textarea v-model="model.user.instruments" rows="6"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-item checkboxes">
                            <label>Teams</label>
                            <label><input v-model="model.user.interest.solo" type="checkbox"> Solo</label>
                            <label><input v-model="model.user.interest.choir" type="checkbox"> Choir</label>
                            <label><input v-model="model.user.interest.ensemble" type="checkbox"> Ensemble</label>
                            <label><input v-model="model.user.interest.orchestra" type="checkbox"> Orchestra</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-view" v-if="state.tab=='events'">
                <select v-model="state.event_id" style="width:auto;">
                    <option value="{{event._id}}" v-for="event in model.events" v-if="event.visible.members || hasRole('admin')">{{event.time}}</option>
                    <option value="create" v-if="hasRole('admin')">Create Event</option>
                </select>
                <div v-if="state.event_id">
                    <div class="card">
                        <div class="row form">
                            <div class="col">
                                <h3>{{state.event.type}} at {{state.event.location}}</h3>
                                <h4 class="subheading muted">
                                    {{timeString(stringDateTime(state.event.time))}}
                                    {{dateString(stringDateTime(state.event.time))}}
                                    <span v-if="state.event.media">
                                        | 
                                        <a href="{{state.event.media}}">watch</a>
                                    </span>
                                </h4>
                                <p>
                                    {{state.event.notes}}
                                </p>
                                <div v-if="hasRole('admin')">
                                    <label><input v-model="state.event.visible.members" type="checkbox"> Visible to members</label>
                                    <label><input v-model="state.event.visible.public" type="checkbox"> Visible to public</label>
                                </div>
                            </div>
                            <div class="col col-6" v-if="hasRole('admin')">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-item">
                                            <label>Type</label>
                                            <select v-model="state.event.type">
                                                <option>Community Service</option>
                                                <option>Charity Concert</option>
                                            </select>
                                        </div>
                                        <div class="form-item">
                                            <label>Media Link</label>
                                            <input v-model="state.event.media" type="text" placeholder="https://www.youtube.com/asdfadsf">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-item">
                                            <label>Location</label>
                                            <select v-model="state.event.location">
                                                <option>Los Gatos</option>
                                                <option>Lytton Gardens</option>
                                                <option>Sunny View</option>
                                                <option>Chateau of Cupertino</option>
                                            </select>
                                        </div>
                                        <div class="form-item">
                                            <label>Date + Time</label>
                                            <input v-model="state.event.time" type="text" placeholder="7:00 PM 01/01/1996">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-item">
                                    <label>Notes</label>
                                    <textarea v-model="state.event.notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <br/>
                            <button v-if="!state.event._id" type="primary" class="button small outline" @click="createEvent(true)">Create Event</button>
                        </div>
                    </div>
                    <div class="card" v-if="state.event._id">
                        <table class="flat">
                            <thead>
                                <th>Piece Name</th>
                                <th>Composer</th>
                                <th>Performer</th>
                                <th v-if="hasRole('admin')">Length</th>
                                <th v-if="hasRole('admin')">Link</th>
                                <th>Status</th>
                                <th v-if="hasRole('admin')">Action</th>
                            </thead>
                            <tbody v-sortable.tr="state">
                                <tr v-for="piece in state.event.piece">
                                    <td>{{piece.name}}</td>
                                    <td>{{piece.composer}}</td>
                                    <td>{{piece.performer}}</td>
                                    <td v-if="hasRole('admin')">{{piece.length}}</td>
                                    <td v-if="hasRole('admin')">{{piece.link}}</td>
                                    <td>
                                        <span v-if="piece.approved">Approved</span>
                                        <span v-if="!piece.approved">Pending</span>
                                    </td>
                                    <td v-if="!hasRole('admin')">
                                        <a v-if="piece.requestee==model.user._id" @click="deletePiece(piece._id)">withdraw</a>
                                        <a v-if="piece.requestee==model.user._id" @click="editPiece(piece)">edit</a>
                                    </td>
                                    <td v-if="hasRole('admin')">
                                        <a v-if="!piece.approved" @click="approvePiece(piece._id)">approve</a>
                                        <a v-if="piece.approved" @click="disapprovePiece(piece._id)">disapprove</a>
                                        <a @click="editPiece(piece)">edit</a>
                                        <a @click="deletePiece(piece._id)">delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card" v-if="state.event._id">
                        <h5 v-if="!state.piece._id">Submit Piece</h5>
                        <p v-if="!state.piece._id">
                            Before submitting your piece, please review our <a href="/assets/performance_etiquette.pdf">performance 
                            etiquette</a> guidelines.
                        </p>
                        <h5 v-if="state.piece._id">Edit Piece: {{state.piece.name}}</h5>
                        <div class="row">
                            <div class="col form-item">
                                <input v-model="state.piece.name" class="col-12" type="text" placeholder="Piece Name">
                            </div>
                            <div class="col form-item">
                                <input v-model="state.piece.performer" class="col-12" type="text" placeholder="Performer">
                            </div>
                            <div class="col form-item">
                                <input v-model="state.piece.length" class="col-12" type="text" placeholder="Length">
                            </div>
                            <div class="col form-item">
                                <input v-model="state.piece.link" class="col-12" type="text" placeholder="Link">
                            </div>
                            <div class="col form-item" v-if="state.piece._id">
                                <button class="button outline primary col-12" @click="state.piece={}">Done</button>
                            </div>
                            <div class="col form-item" v-if="!state.piece._id">
                                <button class="button outline primary col-12" @click="createPiece()">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-right" v-if="state.event._id" style="margin-top:10px;">
                        <span v-if="hasRole('admin')">
                            <select v-model="state.import.event_id" style="width:auto;display:inline-block;height:32px;">
                                <option disabled="" selected></option>
                                <option v-if="event._id != state.event_id" value="{{event._id}}" v-for="event in model.events">{{event.time}}</option>
                            </select>
                            <button class="button small outline" @click="importPieces(state.import.event_id)">Import Pieces</button>
                            |
                        </span>
                        <button class="button small outline" @click="printEvent()">Print Event</button>
                        <button v-if="hasRole('admin')" class="button small outline red" @click="deleteEvent()">Delete Event</button>
                    </div>
                </div>
            </div>
            <div class="tab-view" v-if="state.tab=='members'">
                <div style="margin-bottom:6px;">
                    <input v-model="state.search" type="text" class="col-12" placeholder="search..."></input>
                </div>
                <table class="flat">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Roles</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="hoverable" @click="showUser(user)" v-for="user in model.users | filterBy state.search">
                            <td>{{user.name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone}}</td>
                            <td>{{user.roles}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="aside" :class="{overlay:state.menu}">
            <div class="close mobile-only" @click="state.menu=false"></div>
            <div class="header">
                <img class="user-pic" src="/img/profile.png" v-if="!model.user.picture" @click="changePicture()"/>
                <img class="user-pic" :src="model.user.picture" v-if="model.user.picture" @click="changePicture()"/>
                <div class="user-box">
                    {{model.user.email}}
                </div>
                <form id="picture" method="post" enctype="multipart/form-data" action="/api/v2/user/upload">
                    <input type="hidden" name="user_id" value="{{model.user._id}}"></input>
                    <input type="file" name="picture" accept=".gif,.jpg,.jpeg,.png" style="display:none;"></input>
                </form>
                <div class="text-right">
                    <span class="buttons group">
                        <a type="primary" class="button small outline primary" @click="state.overlay='change_password'">Change Password</a>
                        <button class="button small outline" @click="signout()">Sign Out</button>
                    </span>
                </div>
            </div>
            <div class="recent-news">
                <h5 class="title">Recent News</h5>
                <div class="news-item" v-for="news in model.news" @click="showEditor(news)">
                    <h4 class="news-title">
                        {{clampText(news.title,30)}} 
                        <i style="float:right;"><small>{{dateString(news.posted)}}</small></i>
                    </h4>
                    <p class="news-text muted">
                        {{clampText(news.content, 86)}}
                    </p>
                </div>
                <div class="text-center" v-if="hasRole('admin')">
                    <br/>
                    <button class="button small primary outline" @click="showEditor({}, true)">New Post</button>
                </div>
            </div>
        </div>
    </main>
    <div v-if="state.overlay" @click="state.overlay=false" class="greyout"></div>
    <div v-if="state.overlay=='news'" class="news modal">
        <div class="close" @click="state.overlay=false"></div>
        <div class="row">
            <div class="col col-6 form" v-if="hasRole('admin')">
                <div class="form-item">
                    <input v-model="state.post.title" type="text" placeholder="Title">
                </div>
                <div class="form-item">
                    <textarea rows="16" v-model="state.post.content" placeholder="Content"></textarea>
                </div>
            </div>
            <div class="col">
                <h1>{{state.post.title}}</h1>
                {{{markDown(state.post.content)}}}
            </div>
        </div>
        <div class="text-center" v-if="hasRole('admin')">
            <div v-if="!state.post._id">
                <label><input v-model="state.post.notification.active" type="checkbox"> Notify Active</label>
                <label><input v-model="state.post.notification.alumni" type="checkbox"> Notify Alumni</label>
                <br/>
            </div>
            <button v-if="!state.post._id" class="button small outline" @click="postArticle()">Post Article</button>
            <button v-if="state.post._id" class="button small outline" @click="postArticle()">Save Changes</button>
            <button v-if="state.post._id" class="button red small outline" @click="deleteArticle()">Delete Article</button>
        </div>
    </div>
    <div v-if="state.overlay=='user'" class="news modal">
        <div class="close" @click="state.overlay=false"></div>
        <h3>{{state.user.name}}</h3>
        <div class="row">
            <div class="col">
                <ul>
                    <li v-for="(key, value) in state.user" v-if="key!='salt' && key !='password'">
                        <b>{{key}}:</b> 
                        <span v-if="typeof value != 'object'">
                            <code>{{value}}</code>
                        </span>
                        <ul v-if="typeof value == 'object'">
                            <li v-for="(nkey, nvalue) in value" v-if="key!='timesheet' && nkey !='password'">
                                <b>{{nkey}}:</b> 
                                <span v-if="typeof nvalue != 'object'">
                                    <code>{{nvalue}}</code>
                                </span>
                                <ul v-if="typeof nvalue == 'object'">
                                    <li v-for="(nnkey, nnvalue) in nvalue">
                                        <b>{{nnkey}}:</b> <code>{{nnvalue}}</code>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col">
                <div v-if="hasRole('admin')">
                    <a @click="setRole(state.user._id, 'admin')">admin</a>
                     | 
                    <a @click="setRole(state.user._id, 'member')">member</a>
                     | 
                    <a @click="setRole(state.user._id, 'alumni')">alumni</a>
                     | 
                    <a @click="setRole(state.user._id, 'applicant')">applicant</a>
                    <br/>
                    <a @click="resetParent(state.user.parent1)">reset parent 1</a>
                     | 
                    <a @click="resetParent(state.user.parent2)">reset parent 2</a>
                    <br/>
                    <a @click="deleteUser(state.user._id)">delete</a>
                     | 
                    <a @click="giveHours(state.user._id)">give hours</a>
                </div>
                <div v-if="hasRole('admin') || state.user._id == model.user._id">
                    <table class="flat">
                        <thead>
                            <th>Date</th>
                            <th>Hours</th>
                            <th>Reason</th>
                            <th v-if="hasRole('admin')">Action</th>
                        </thead>
                        <tbody>
                            <tr v-for="entry in state.user.timesheet.history">
                                <td>{{dateString(entry.reported_on)}}</td>
                                <td>{{Math.round(entry.time / (60 * 60))}}</td>
                                <td>{{entry.reason}}</td>
                                <td v-if="hasRole('admin')">
                                    <a @click="approveTime(state.user._id, entry)" v-if="!entry.approved">approve</a>
                                    <a @click="deleteTime(state.user._id, entry)" v-if="!entry.approved">delete</a>
                                    <a @click="disapproveTime(state.user._id, entry)" v-if="entry.approved">disapprove</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div v-if="state.overlay=='change_password'" class="password modal">
        <div class="close" @click="state.overlay=false"></div>
        <h3>Change Password</h3>
        <div style="margin-bottom:5px;">
            <input v-model="state.change_password.password" class="col-12" type="password" placeholder="Password">
        </div>
        <div>
            <input v-model="state.change_password.confirm" class="col-12" type="password" placeholder="Confirm password">
        </div>
        <br/>
        <div class="text-center">
            <div class="alert error" v-if="state.change_password.password!=state.change_password.confirm">
                Your passwords don't match.
            </div>
            <button v-if="state.change_password.password==state.change_password.confirm" class="button small primary outline" @click="changePassword()">Change Password</button>
        </div>
    </div>
    <div class="progress"><div class="bar" v-bind:style="{width: ajax.percent}"></div></div>
    <script src="/js/vue.js" type="text/javascript"></script>
    <script src="/js/lodash.js" type="text/javascript"></script>
    <script src="/js/vue-charts.js" type="text/javascript"></script>
    <script src="/js/sortable.js" type="text/javascript"></script>
    <script src="/js/vue-sortable.js" type="text/javascript"></script>
    <script src="/js/jquery.js" type="text/javascript"></script>
    <script src="/js/ajax.js" type="text/javascript"></script>
    <script src="/js/marked.js" type="text/javascript"></script>
    <script src="/js/xss.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
</body>
</html>
